absl-py
aiofiles
aiohttp
aiosignal
aiosqlite
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-timeout
attrs
babel
backcall
beartype
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
chex
click
cmapy
colorama
comm
contourpy
contourpy
coverage
cycler
datasets
debugpy
decorator
defusedxml
dill
dm-haiku
dm-tree
docker-pycreds
einops
entrypoints
exceptiongroup
executing
fancy-einsum
fastjsonschema
filelock
fonttools
fqdn
frozenlist
fsspec
gitdb
gitpython
huggingface-hub
idna
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jax
jaxlib
jaxtyping
jedi
jinja2
jmp
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-server
jupyter-server-fileid
jupyter-server-terminals
jupyter-server-ydoc
jupyter-ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kaleido
kiwisolver
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
multidict
multiprocess
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
opencv-python
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
pathtools
pexpect
pickleshare
pillow
pkgutil-resolve-name
platformdirs
plotly
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py
pyarrow
pycparser
pygments
pygraphviz
pyparsing
pytest
pytest-cov
python-dateutil
python-json-logger
pytz
# pywin32
# pywinpty
pyyaml
pyzmq
qtconsole
qtpy
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scipy
send2trash
sentry-sdk
setproctitle
setuptools
setuptools-scm
six
smmap
sniffio
soupsieve
stack-data
tabulate
tenacity
terminado
tinycss2
tokenizers
tomli
toolz
torch
torchtyping
tornado
tqdm
# tracr
traitlets
transformer-lens
transformers
typeguard
types-python-dateutil
typing-extensions
uri-template
urllib3
wandb
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
xxhash
y-py
yarl
ypy-websocket
zipp